In [ ]:
print("wel come")

wel come

In [ ]:
#variable
x=5
y="helo,world!"
print(x)
print(y)

5
helo,world!

In [ ]:
#comment
#This is a comment.
print("Helo, World!")

Helo, World!

In [ ]:
#Multiline comments
#This is a comment
#Written in
#more than just one line
print("Hello, World!")

Hello, World!

In [ ]:
#variables
var1=12
var2=30
sum=var1+var2
print("the result of var1+var2 is:",sum)

the result of var1+var2 is: 42

In [ ]:
#variable
#assign values to variable directly
var1 = 5
var2 = "John"
print(type(var1))
print(type(var2))

<class 'int'>
<class 'str'>

In [ ]:
#data types
#1.numeric
#a.integer:45,-35
#b.float:2.20,-43.0
#c.complex:4j


#integer
var_int=45
print(var_int)
print(type(var_int))

45
<class 'int'>

In [ ]:
#float
var_float=2.20
print(var_float)
print(type(var_float))

2.2
<class 'float'>

In [ ]:
#complex
var_int=4j
print(var_int)
print(type(var_int))

(34+4j)
<class 'complex'>

In [ ]:
#complex
var_int=34+4j
print(var_int)
print(type(var_int))

(34+4j)
<class 'complex'>

In [ ]:
#Data types
#numeric types
x = 1
y = 2.8
z = 1j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#string
# string in python by using double quotations and single quotations:
#'hello' is the same as "hello".

a="Helo World"
print(a)

Helo World

In [ ]:
#string
#assign a string to a variable by using double quotes:
var_str="alex"
print(var_str)
print(type(var_str))

alex
<class 'str'>

In [ ]:
#string
#assign a string to a variable by using double quotes:
var_str="alex"
print(var_str)
print(type(var_str))

In [ ]:
#slicing string
b = "Hello, World!"
print(b[2:5])

llo

In [ ]:
#slicing string from of negative indexes:
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
#Booleans
#Booleans represent one of two values: True or False.

a=200
b=33
if a>b:
   print("b is greater than a")
else:
   print("b is not greater than a")

b is greater than a

In [ ]:
#Operators
#types of operaters
#1.Arithmetic operators
#2.Assignment operators
#3.Comparison operators
#4.Logical operators
#5.Identity operators
#6.Membership operators
#7.Bitwise operators

#arithmetic operater
#addition(+)
x = 5
y = 3
print(x + y)

8

In [ ]:
#subtraction
x=8
y=3
print(x-y)

5

In [ ]:
#Multiplication(*)
x=8
y=3
print(x*y)

24

In [ ]:
#	Division(/)
x=8
y=3
print(x/y)

2.6666666666666665

In [ ]:
#	Modulus(%)
x=8
y=3
print(x%y)

2

In [ ]:
 #Assignment Operators
 #Assignment operators are used to assign values to variables:


x=5
print(x)

5

In [ ]:
x=5
x+=3
print(x)

8

In [ ]:
x=5
x*=3
print(x)

15

In [ ]:
x=5
x-=3
print(x)

2

In [ ]:
x=5
x/=3
print(x)

1.6666666666666667

In [ ]:
x=5
x%=3
print(x)

2

In [ ]:
x=5
x//=3
print(x)

1

In [ ]:
#x=5
x**=3
print(x)

1953125

In [ ]:
#index
my_list = [10, 20, 30, 40, 50]
# Access first element
print(my_list[0])  # Output: 10
# Access last element (using negative indexing)
print(my_list[-1])  # Output: 50

In [63]:
# indexing
my_list = [10, 20, 30, 40, 50]
print(my_list[0])

10

In [64]:
my_list = [10, 20, 30, 40, 50]
print(my_list[1])

20

In [65]:
my_list = [10, 20, 30, 40, 50]
print(my_list[2])

30

In [66]:
my_list = [10, 20, 30, 40, 50]
print(my_list[3])

40

In [67]:
my_list = [10, 20, 30, 40, 50]
print(my_list[4])

50

In [68]:
my_list = [10, 20, 30, 40, 50]
print(my_list[-1])

50

In [69]:
my_list = [10, 20, 30, 40, 50]
print(my_list[-4])

20

In [70]:
my_list = [10, 20, 30, 40, 50]
print(my_list[1:2])

[20]

In [71]:
my_list = [10, 20, 30, 40, 50]
print(my_list[:2])

[10, 20]

In [72]:
my_list = [10, 20, 30, 40, 50]
print(my_list[2:])

[30, 40, 50]

In [ ]:
#list:
# ages=[23,34,40,45,34]

ages=[23,34,40,45,34]
print(ages)
print(type(ages))

[23, 34, 40, 45, 34]
<class 'list'>

In [ ]:
#list
mylist=["apple","banana","cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
#list length
mylist=["apple","banana","cherry"]
print(len(mylist))

3

In [ ]:
#tuple:
# items=(23,45,67,45,34)

tuple=(23,45,67,45,34)
print(tuple)
print(type(range))

(23, 45, 67, 45, 34)
<class 'range'>

In [ ]:
items=(23,45,67,45,34)
print(items)
print(type(items))

(23, 45, 67, 45, 34)
<class 'tuple'>

In [ ]:
thistuple=("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
#tuple length

thistuple=("apple", "banana", "cherry")
print(len(thistuple))

3

In [ ]:
#tuple
ages=(4,10)
print(list(ages))
print(type(ages))

[4, 10]
<class 'tuple'>

In [1]:
#range
for x in range(5):
  print(x)

0
1
2
3
4

In [3]:
for a in range(2,7):
  print(a)

2
3
4
5
6

In [4]:
ages=range(6)
print(list(ages))
print(type(ages))

[0, 1, 2, 3, 4, 5]
<class 'range'>

In [6]:
ages=range(1,10,2)
print(list(ages))
print(type(ages))

[1, 3, 5, 7, 9]
<class 'range'>

In [5]:
number=list(range(10))
print(number)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [13]:
a = 33
b = 200
if b > a:
   print("b is greater than a")

b is greater than a

In [15]:
a = 33
b = 33
if b > a:
   print("b is greater than a")
elif a == b:
   print("a and b are equal")

a and b are equal

In [17]:
a = 200
b = 33
if b > a:
   print("b is greater than a")
elif a == b:
   print("a and b are equal")
else:
   print("a is greater than b")

a is greater than b

In [20]:
x = 10

if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is greater than 5

In [11]:
x=3
if x > 5:
   print("x is greater than 5")
elif x == 5:
   print("x is equal to 5")
else:
   print("x is less than 5")

x is less than 5

In [22]:
#while
# code block to be executed

In [26]:
count = 0
while count < 5:
   print("Count is:", count)
   count += 1

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4

In [28]:
i = 1
while i < 6:
   print(i)
   i +=1

1
2
3
4
5

In [41]:
#while
#break statement

i = 1
while i < 6:
  print(i)
  if i == 3:
   break
  i += 1

1
2
3

In [42]:
#while
#continue statement

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [47]:
#for loop

fruits = ["apple","banana","cherry"]
for fruit in fruits:
   print(fruit)

apple
banana
cherry

In [51]:
# using string in a For loop

for x in "python":
   print(x)

p
y
t
h
o
n

In [52]:
# Using range() in a For Loop

for x in range(5):
   print(x)

0
1
2
3
4

In [55]:
# function

def greet(name):
   print(f"Hello,{name}!" )

In [54]:
#Call the function
greet("Alice")

Hello,Alice!

In [57]:
def add(a,b):
   return a + b

In [58]:
#Call the function and store the result
result = add(5,3)
print(result)

8

In [60]:
def my_function():
   print("Hello from a function")

In [61]:
#Call the function
my_function()

Hello from a function