In [1]:
#range(stop)
#range(start, stop)
#range(start, stop, step)

# Generates numbers 0 to 4 (5 is not included)
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
# Generates numbers from 2 to 5 (6 is not included)
for i in range(2, 6):
    print(i)

2
3
4
5

In [3]:
# Generates numbers from 2 to 10 with step of 2
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [4]:
# Generates numbers from 10 to 2 with step of -2
for i in range(10, 1, -2):
    print(i)

10
8
6
4
2

In [5]:
# Convert a range to a list
my_list = list(range(5))
print(my_list)

[0, 1, 2, 3, 4]

In [10]:
ages=range(4)
print(list(ages))
print(type(ages))

[0, 1, 2, 3]
<class 'range'>

In [11]:
ages=range(10)
print(list(ages))
print(type(ages))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'range'>

In [12]:
ages=range(4,10,2)
print(list(ages))
print(type(ages))

[4, 6, 8]
<class 'range'>