In [3]:
# Tuple
my_tuple=(23,25,34,40,45)
print(my_tuple)
print(type(my_tuple))

(23, 25, 34, 40, 45)
<class 'tuple'>

In [1]:
#Tuple
my_tuple = (1, 2, 3, 4)
print(my_tuple[0])
print(my_tuple[-1])

1
4

In [4]:
my_tuple = (1, 2, 3, 1)
print(my_tuple.count(1))
print(my_tuple.index(2))

2
1

In [5]:
my_tuple = ("apple", "banana", "cherry")
print(my_tuple)

('apple', 'banana', 'cherry')

In [6]:
#use of tuple in length
my_tuple = ("apple", "banana", "cherry")
print(len(my_tuple))

3

In [7]:
#use of index or count in tuple
my_tuple = (1, 2, 3, 1)
print(my_tuple.count(1))
print(my_tuple.index(2))

2
1

In [8]:
my_tuple = ("apple", "banana", "cherry")
print(my_tuple[1])

banana

In [9]:
my_tuple = ("apple", "banana", "cherry")
print(my_tuple[-1])

cherry

In [10]:
my_tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(my_tuple[2:5])

('cherry', 'orange', 'kiwi')

In [11]:
my_tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(my_tuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [12]:
my_tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(my_tuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')